*{
    font-family: 'Helvetica Neue Cyr', sans-serif;
}

.main_setting{   
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 19em;
  top: 1.7em;
  .game{
    span{
        color: #7A7A7A;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
    }
    margin-bottom: 8px;
  }

}


.dropdown,
.dropdown * {
  z-index: 10;
}

.dropdown {
  z-index: 10000;
  width: 230px;
  position: relative;
  margin-bottom: 8px;
  button {
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .dropdown_btn {
    cursor: pointer;
    border-radius: 5px;
    background: #464646;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .dropdown_content {
    height: 300px;
    overflow: auto;
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    border: 1px solid #454545;
    background: #1E1E1E;
    color: #FFF;
  }
}

.dropdown_content::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: content-box;
}
.dropdown_content::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 8px;
}
.dropdown_content::-webkit-scrollbar-thumb {
  background-color: #39A37F;
}
.dropdown_content::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #393939;
  border: 1px solid #393939;
}
.dropdown_content::-webkit-scrollbar {
  width: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #373737;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
  :before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    top: 1px;
    background-color: #FFFFFF;
    border-radius: 23px;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: #39A37F;
}

input:checked + .slider:before{
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39A37F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wave {
  border-radius: 50%;
}

.game_list{
  span{
    color: #7A7A7A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span{
      color: #FFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  width: 90%;
  margin-bottom: 20px;
}

.input_shortname{
  div{
    width: 100%;   
    margin-bottom: 8px;
    span{
      color: #7A7A7A;
      font-size: 12.5px;
      font-style: normal;
      line-height: normal;
    }
    input{
      border-radius: 5px;
      border: 1px solid #7A7A7A; 
      height: 2px;
      width: 91%;
      background: #282828;
      padding: 9px;
      color: #FFF;
    }
  }
  :last-child{
    margin: 0;
  }
  margin-bottom: 20px;
}

.setting_button{
  color: #7A7A7A;
  font-size: 12px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  div{
    margin-right: 17px;
  }
  :last-child{
    margin: 0;
  }
}


