.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #373737;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  top: 1px;
  background-color: #FFFFFF;
  border-radius: 23px;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #39A37F;
}

input:checked + .slider:before{
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39A37F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider {
  border-radius: 34px;
}

.wave {
  border-radius: 50%;
}

.setting_button{
  color: #7A7A7A;
  font-size: 12px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  div{
    margin-right: 17px;
  }
}

.setting_button:last-child{
  margin: 0;
}